<div class="w-64"> 
   <ul class="flex flex-col gap-6">
      <li class="flex items-center" > 
      <div class="p-1 mr-4 bg-btn rounded-md" style="width: fit-content"> 
         <%= image_tag "carbon_screen.svg", class: "w-4" %>
      </div>    
      <p class="link text-btn">Screens</p>  
      </li>
      <li class="flex items-center" > 
      <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
         <%= image_tag "colors.svg", class: "w-4" %>
      </div>    
      <p class="link">Colors</p>  
      </li>
      <li class="flex items-center" > 
      <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
         <%= image_tag "spacing.svg", class: "w-4" %>
      </div>    
      <p class="link">Spacing</p>  
      </li>
      <li class="flex items-center" > 
      <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
         <%= image_tag "typo.svg", class: "w-4" %>
      </div>    
      <p class="link">Typography</p>  
      </li>
      <li class="flex items-center" > 
      <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
         <%= image_tag "border.svg", class: "w-4" %>
      </div>    
      <p class="link">Border</p>  
      </li>
   </ul>
</div>