<div class="pt-32 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="flex " >
    <div class="w-56">
    <h6 class="text-sm font-bold text-btn " > Editing : </h6>
    <p class="text-normal text-white" > <%= @project.project_name %> </p>
    </div>
    <div class="flex justify-between items-center w-full"> 
      <div>  
          <a href="#" class="btn-primary mr-3">Save All</a> 
          <a href="#" class="link">Reset all</a> 
      </div>
      <div> 

          <a href="<% @project %>" class="btn-primary"> Export</a> 
      </div>
    </div>
  </div>

  <div class="flex flex-row  mt-12">
      <div class="w-64"> 
        <ul class="flex flex-col gap-6">
          <li class="flex items-center" > 
            <div class="p-1 mr-4 bg-btn rounded-md" style="width: fit-content"> 
              <%= image_tag "carbon_screen.svg", class: "w-4" %>
            </div>    
            <p class="link text-btn">Screens</p>  
          </li>
          <li class="flex items-center" > 
            <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
              <%= image_tag "colors.svg", class: "w-4" %>
            </div>    
            <p class="link">Colors</p>  
          </li>
          <li class="flex items-center" > 
            <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
              <%= image_tag "spacing.svg", class: "w-4" %>
            </div>    
            <p class="link">Spacing</p>  
          </li>
          <li class="flex items-center" > 
            <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
              <%= image_tag "typo.svg", class: "w-4" %>
            </div>    
            <p class="link">Typography</p>  
          </li>
          <li class="flex items-center" > 
            <div class="p-1 mr-4 bg-darky rounded-md" style="width: fit-content"> 
              <%= image_tag "border.svg", class: "w-4" %>
            </div>    
            <p class="link">Border</p>  
          </li>
        </ul>
      </div>

      <div>
          <h1 class="text-big font-inter text-white font-extrabold mb-2 -mt-3" > Screens</h1>
          <p class="text-small font-inter text-white w-4/5" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus ullamcorper vestibulum urna tincidunt quis vestibulum duis a. Lacus pellentesque id amet malesuada </p>
          
          <div class="flex flex-row justify-start gap-8" >
            <div>
              <div class="flex items-center mt-10 mb-3 ml-4" >
                <div class="text-normal text-white  min-w-medium mr-3 " > Name </div>
                <div class="text-normal text-white  min-w-medium "> Value</div>
                <div></div>
              </div>
              <div class="bg-darky w-fit p-3 rounded-xl " >
                <% @screens.each do |screen| %>
                      <div class="flex justify-start gap-3 items-center mb-2" >
                          <div class="text-medium text-white p-3 bg-lighty bg-opacity-25 min-w-medium rounded-md" > <%= screen.name %></div>
                          <div class="text-medium text-white p-3 bg-lighty bg-opacity-25 min-w-medium rounded-md">  <%= screen.value %> </div>
                          <%= link_to '<i class="fa-solid fa-sliders"></i>'.html_safe, edit_project_screen_path(@project, screen.id), class:"mx-3  text-white hover:bg-trans visited:text-white" %>
                      </div>
                <% end %>
              </div>
            </div>

            <div class="bg-darky p-6 rounded-xl mt-20 min-w-[500px] max-w-lg text-darky relative">
              <pre id="div1" class="h-full w-full bg-trans" >
                    <%= @json_read %>
              </pre>
                <a onclick="showText()"  class="btn-primary mr-3 absolute bottom-4 right-1">Show Json</a> 
            </div>
          </div>
      </div>
  </div>
</div>

<script>
  function showText(){
    let para = document.getElementById("div1")
    para.classList.toggle("text-white")
  }
</script>

