<h1>New Project</h1>

<%= form_tag url_for(action: 'create'), method: "post" do %>
      <div>
         <%= label_tag 'Nom du projet' %>
         <%= text_field_tag 'project_name' %>

         <%= label_tag 'Type' %>
         <%= text_field_tag 'type_project' %>

         <%= label_tag 'exporte' %>
         <%= text_field_tag 'exported' %>
      </div>
      <br /> 
      <%= submit_tag "Create Project" %>
<% end %>



<%= link_to 'Back', '/' %>
